<div class="wrapper">
    <form class="form-signin">
        <h3 class="form-signin-heading">Famous US Cities !!</h3>
        <div class="spac">
            <input type="text" class="form-control" ng-model="user.firstName" name="username" placeholder="User Name" required="" autofocus="" />
        </div>
        <div class="spac">
            <input type="password" class="form-control" ng-model="user.password" name="pwd" placeholder="Password" required=""/>
        </div>
        <div id="spa">
            <a href="#main" class="btn btn-primary btn-block" ng-click="localStore(user.firstName, user.pwd)">Login</a>
            <a href="#register" class="btn btn-primary btn-block">Register</a>
        </div>
    </form>
</div>





